# Compiled files
__pycache__/
*.py[cod]

# Dependency directories
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# IDE-specific
.vscode/
.idea/

# Compiled Python files
*.pyc

# Compiled C extensions
*.so

# Logs and databases
*.log
*.sqlite3

# Images
Images/

# Compiled UI files
*.ui

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Icon
*.ico

# Compiled binaries
*.exe
*.out

# Backup and temp files
*.bak
*.swp
*.tmp
